{% load static %}
<!DOCTYPE HTML>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Petpal - Pet Care and Pet Shop HTML Template</title>
    <meta name="description" content="Petpal - Pet Care and Pet Shop HTML Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.png' %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/flaticon_pet_care.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/odometer.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/default.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/ui.css' %}">
</head>

<body>

    <!-- Navbar -->
    {% include 'navbar.html' %}

    {% block content %}
    <!-- content-->
    {% endblock %}

    <!-- Footer -->
    {% include 'footer.html' %}