{% load static%}
<!-- ========================= FOOTER ========================= -->
    <!-- footer-area -->
    <footer>
        <div class="footer__area">
            <div class="footer__newsletter-three">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5">
                            <div class="footer__newsletter-content">
                                <h2 class="title">Sign Up For Newsletter!</h2>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <form action="#" class="footer__newsletter-form-two">
                                <input type="email" placeholder="Type Your E-mail">
                                <button type="submit">Subscribe <img src="{% static 'assets/img/icon/right_arrow04.svg' %}" alt="" class="injectable"></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__top footer__top-three fix">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="footer__widget">
                                <div class="footer__logo">
                                    <a href="index.html"><img src="{% static 'assets/img/logo/w_logo.png' %}" alt=""></a>
                                </div>
                                <div class="footer__content footer__content-two">
                                    <p>Duis aute irure dolor in repreerit in voluptate velitesse We understand that your furry friend tred member</p>
                                </div>
                                <div class="footer__social">
                                    <h6 class="title">Follow Us On:</h6>
                                    <ul class="list-wrap">
                                        <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="https://www.whatsapp.com/" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                                        <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                            <div class="footer__widget">
                                <h4 class="footer__widget-title">Quick Links</h4>
                                <div class="footer__link">
                                    <ul class="list-wrap">
                                        <li><a href="animal.html">Animal Rescue</a></li>
                                        <li><a href="contact.html">Humane Education</a></li>
                                        <li><a href="contact.html">Caregivers</a></li>
                                        <li><a href="blog.html">New & Blog</a></li>
                                        <li><a href="gallery.html">Gallery</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                            <div class="footer__widget">
                                <h4 class="footer__widget-title">Support</h4>
                                <div class="footer__link">
                                    <ul class="list-wrap">
                                        <li><a href="about.html">About us</a></li>
                                        <li><a href="contact.html">Contact us</a></li>
                                        <li><a href="reservation.html">Book Appointment</a></li>
                                        <li><a href="faq.html">FAQ</a></li>
                                        <li><a href="contact.html">Locations</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                            <div class="footer__widget">
                                <h4 class="footer__widget-title">Contact</h4>
                                <div class="footer__contact">
                                    <ul class="list-wrap">
                                        <li>555 A, East Manster Street, Ready Halley Neon, Uk 4512</li>
                                        <li><a href="tel:0123456789">+00 123 45678 44</a></li>
                                        <li><a href="mailto:Supportinfo@gmail.com">Supportinfo@gmail.com</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer__shape-wrap">
                    <img src="{% static 'assets/img/images/footer_shape01.png' %}" alt="img" data-aos="fade-up-right" data-aos-delay="400">
                    <img src="{% static 'assets/img/images/footer_shape02.png' %}" alt="img" data-aos="fade-up-left" data-aos-delay="400">
                </div>
            </div>
            <div class="footer__bottom footer__bottom-two">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5">
                            <div class="copyright-text copyright-text-three">
                                <p>Copyright © 2024. All Rights Reserved.</p>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="footer__bottom-menu footer__bottom-menu-two">
                                <ul class="list-wrap">
                                    <li><a href="contact.html">Support</a></li>
                                    <li><a href="contact.html">Terms & Conditions</a></li>
                                    <li><a href="contact.html">Privacy Policy</a></li>
                                    <li><a href="contact.html">Career</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer-area-end -->


    <!-- JS here -->
    <script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.odometer.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.appear.js' %}"></script>
    <script src="{% static 'assets/js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'assets/js/svg-inject.min.js' %}"></script>
    <script src="{% static 'assets/js/select2.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'assets/js/ajax-form.js' %}"></script>
    <script src="{% static 'assets/js/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/aos.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script>
        SVGInject(document.querySelectorAll("img.injectable"));
        setTimeout(function(){
            $('#message').fadeout('slow')
        },4000)
    </script>
</body>

</html>
<!-- ========================= FOOTER END // ========================= -->
