{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- main-area -->
    <main class="fix">
     <!-- breadcrumb-area -->
        <section class="breadcrumb__area fix">
            <div class="container">
                <div class="row align-items-end">
                    <div class="col-lg-8">
                        <div class="breadcrumb__content">
                        {% if 'search' in request.path %}
                         <h3 class="title">Search Result</h3>
                        {% else %}
                         <h3 class="title">Our Store</h3>
                        {% endif %}
                            <nav class="breadcrumb">
                                <span property="itemListElement" typeof="ListItem">
                                    <a href="{% url 'home'%}">Home</a>
                                </span>
                                <span class="breadcrumb-separator"><i class="flaticon-right-arrow-angle"></i></span>
                                <span property="itemListElement" typeof="ListItem"><a href="{% url 'store'%}">All Products</a></span>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="breadcrumb__img">
                            <img src="{% static 'assets/img/images/breadcrumb_img.png' %}" alt="img" data-aos="fade-left" data-aos-delay="800">
                        </div>
                    </div>
                </div>
            </div>
            <div class="breadcrumb__shape-wrap">
                <img src="{% static 'assets/img/images/breadcrumb_shape01.png' %}" alt="img" data-aos="fade-down-right" data-aos-delay="400">
                <img src="{% static 'assets/img/images/breadcrumb_shape02.png' %}" alt="img" data-aos="fade-up-left" data-aos-delay="400">
            </div>
        </section>
        <!-- breadcrumb-area-end -->
        <!-- animal-area -->
        <section class="animal__area-three">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 col-lg-8 order-0 order-lg-2">
                   <dt>{{product_count}} items found</dt>
                    <hr/>
                        <div class="row">
                        {% if products %}
						{% for product in products  %}
                            <div class="col-xl-4 col-md-6">                  
								<div class="product__item">
									<div class="product__thumb">
										<a href="{{ product.get_url}}"><img src="{{ product.images.url }}" alt="img"></a>
										<div class="product__action">
											<a href="product-details.html"><i class="flaticon-love"></i></a>
											<a href="product-details.html"><i class="flaticon-loupe"></i></a>
											<a href="product-details.html"><i class="flaticon-exchange"></i></a>
										</div>
										<div class="sale-wrap">
											<span>New</span>
										</div>
										<div class="product__add-cart">
                                         {% if product.stock <= 0  %}
                                             <a href="#" class="btn"><i class="flaticon-shopping-bag"></i>Out of Stock</a>
                                        {%else%}
											<a href="{% url 'add_cart' product.id %}" class="btn"><i class="flaticon-shopping-bag"></i>Add To Cart</a>
										 {% endif %}
                                        </div>
									</div>
									<div class="product__content">
										<div class="product__reviews">
											<div class="rating">
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
											</div>
											<span>(2 Reviews)</span>
										</div>
										<h4 class="title"><a href="{{ product.get_url}}">{{ product.product_name}}</a></h4>
										<h3 class="price">${{ product.price |floatformat:2}}</h3>
									</div>
								</div>
							</div>
							{% endfor %}
                            {% else %}
                            <h2>No result found. Please try again.</h2>
                            {% endif %}
                        </div>

                        <nav class="pagination__wrap mt-50">
                        {% if products.has_other_pages %}
                            <ul class="list-wrap">
                                {% if products.has_previous %}
                                    <li class="link-arrow"><a href="?page={{products.previous_page_number}}"><img src="{% static 'assets/img/icon/pagination_icon01.svg' %}" alt="" class="injectable"></a></li>
                                {% else %}
                                    <li class="link-arrow disabled"><a href="#"><img src="{% static 'assets/img/icon/pagination_icon01.svg' %}" alt="" class="injectable disabled"></a></li>
                                {% endif %}

                                {% for i in products.paginator.page_range %}
                                    {% if  products.number == i %}
                                        <li class="active"><a href="#">{{i}}</a></li>
                                    {% else %}
                                        <li><a href="?page={{i}}">{{i}}</a></li>
                                    {% endif %}
                                  {% endfor %}
                                {% if products.has_next %}
                                    <li class="link-arrow"><a href="?page={{products.next_page_number}}"><img src="{% static 'assets/img/icon/pagination_icon02.svg' %}" alt="" class="injectable"></a></li>
                                {% else %}
                                     <li class="link-arrow disabled"><a href="#"><img src="{% static 'assets/img/icon/pagination_icon02.svg' %}" alt="" class="injectable"></a></li>
                                {% endif %}
                            </ul>
                        {% endif %}
                        </nav>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <aside class="animal__sidebar">
                            <div class="animal__widget">
                                <h4 class="animal__widget-title">Filters</h4>
                                <div class="sidebar-search-form">
                                     <form action="{% url 'search' %}" method="GET">
                                        <input type="text" placeholder="Type Keywords. . ." name="keyword">
                                        <button type="submit"><i class="flaticon-loupe"></i></button>
                                    </form>
                                </div>
                            </div>
                            <div class="animal__widget">
                                <h4 class="animal__widget-title">Price Range</h4>
                                <div class="price_filter">
                                    <div id="slider-range"></div>
                                    <div class="price_slider_amount">
                                        <input type="text" id="amount" name="price" placeholder="Add Your Price" />
                                    </div>
                                </div>
                            </div>
                            <div class="animal__widget">
                                <h4 class="animal__widget-title">Product Categories</h4>
                                <div class="courses-cat-list">
                                    <ul class="list-wrap">
 									{% for category in product_count_by_categories %}
                                        <li>
                                        <a href="{{ category.get_url }}" style="color:#002169">  {{ category.category_name }} <span> ({{category.product_count}})</span> </a>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </section>
        <!-- animal-area-end -->

    </main>
    <!-- main-area-end -->

{% endblock  %}